      <a class="footer__arrow" href="./index.html#sections__1"></a>
      <nav class="footer__nav"> 
        <div class="footer__nav__1">
          <ul class="footer__nav_web">
            <li>
              <a class="footer__articles" target="_blank" href="https://adalab.es/">articles</a>
            </li>
            <li>
              <a class="footer__books" target="_blank" href="https://adalab.es/">books</a>
            </li>
            <li>
              <a class="footer__events" target="_blank" href="https://adalab.es/">events</a>
            </li>
            <li>
              <a class="footer__reasons" target="_blank" href="https://adalab.es/">reasons</a>
            </li>
            <li>
              <a class="footer__tips" target="_blank" href="https://adalab.es/">tips</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav__2">
          <ul class="footer__nav__social">
            <li>
              <a class="twitter" target="_blank" href="https://adalab.es/">twitter</a>
            </li>
            <li>
              <a class="instagram" target="_blank" href="https://adalab.es/">instagram<a>
            </li>
            <li>
              <a class="mastodon" target="_blank" href="https://adalab.es/">maston.social<a>
            </li> 
          </ul>
        </div>  
        <div class="footer__copy">
          <span class="footer__copy__year">©2017</span>
          <span class="footer__copy__text" >we <span class="footer__copy__heart"> ❤︎ </span>components</span>
        </div>
      </nav> 