  <section class="sections__3">
    <div class="sections__3__div">
      <h2 class="sections__3__div__title" id="sections__3__title">3 reasons to purchase</h2> 
      <div class="sections__3__div__1">
        <h3 class="sections__3__article1">Ut sed metus<h3> 
        <p class="sections__3__paragraph1">Lorem ipsum dolor sit amet,
        consecteur.</p>
      </div>
      <div class="sections__3__div__2">
        <h3 class="sections__3__article2">Curabitur ac erat</h3>
        <p class="sections__3__paragraph2" >Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="sections__3__div__3">
        <h3 class="sections__3__article3"> Morbi dictum</h3>
        <p class="sections__3__paragraph3">Aliquam in dolor et dolor tincidunt.</p>
      </div >
      <div class="sections__3__button"><a class="sections__3__button__more" target="_blank" href="https://adalab.es/">More reasons</a></div>
    </div>
  </section>