<section class="sections__2" id="sections__2__link">
  <div><a class="sections__2__link" href="">insomnia tips</a></div>
  <h2 class="sections__2__title">looking through a window</h2>
  <p class="sections__2__paragraph">
    donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
    luctus ex diam nec lectus. Vivamus semper sodales rutrum.
  </p>
  <div class="sections__2__button">
    <a class="sections__2__button__go" target="_blank" href="https://adalab.es/"
      >go</a
    >
  </div>
</section>
