// // fonts
// $font-main: 'Roboto', sans-serif;

// // colors
// $color-bg: #f3f4f5;
// $color-secondary: #999;

// $coverimage:url(images/)

$FontRobotoSlab: "Roboto Slab";
$fontrobotonormal: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$colorwhite: #ffffff;
$colorlightblue: lightblue;
$Fontcolorgreydark: #000000;
$colororange: #f26002;
