/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

.sections__1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 568px;
  width: 100vw;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (min-width: 768px) {
    .sections__1 {
      height: 768px; } }
  .sections__1__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    background-image: url("../images/ico-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999; }
  .sections__1__title {
    width: 290px;
    margin: 284px 15px 174px 15px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-family: "Roboto Slab";
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.31;
    text-align: center;
    color: #ffffff;
    position: absolute; }
    @media (min-width: 768px) {
      .sections__1__title {
        width: 690px;
        font-size: 80px;
        margin-top: 384px;
        margin-right: 39px;
        margin-left: 39px; } }
    @media (min-width: 1280px) {
      .sections__1__title {
        width: 730px;
        font-size: 100px;
        margin-top: 384px;
        margin-right: 275px;
        margin-left: 275px; } }
  .sections__1__paragraph {
    width: 290px;
    margin: 404px 0 143px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff; }
    @media (min-width: 768px) {
      .sections__1__paragraph {
        width: 690px;
        font-size: 24px;
        margin-top: 616px;
        margin-right: 204px;
        margin-left: 204px; } }
    @media (min-width: 1280px) {
      .sections__1__paragraph {
        width: 730px;
        position-top: 648px;
        margin-right: 275px;
        margin-left: 275px;
        position: 275px; } }
  .sections__1__scroll {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 470px 137px 53px 137px;
    border-radius: 22.5px;
    background-color: #ffffff;
    background-image: url("../images/ico-scroll-down.svg");
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .sections__1__scroll {
        margin-top: 678px;
        margin-right: 361px;
        margin-left: 361px; } }
    @media (min-width: 1280px) {
      .sections__1__scroll {
        margin-top: 710px;
        margin-right: 618px;
        margin-left: 618px; } }

.sections__2 {
  align-items: right;
  width: 690px;
  height: 376px;
  background-color: #ffffff;
  margin: 0 15px 0 15px; }
  @media (min-width: 768px) {
    .sections__2 {
      height: 330px; } }
  @media (min-width: 1280px) {
    .sections__2 {
      height: 360px; } }
  .sections__2__link {
    margin-top: 30px;
    position: absolute;
    color: lightblue;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px; }
    @media (min-width: 768px) {
      .sections__2__link {
        margin-left: 39px;
        margin-right: 39px; } }
    @media (min-width: 1280px) {
      .sections__2__link {
        margin-left: 275px;
        margin-right: 275px; } }
  .sections__2__title {
    position: absolute;
    font-family: "Roboto Slab";
    font-size: 24px;
    text-transform: capitalize;
    color: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 61px; }
    @media (min-width: 768px) {
      .sections__2__title {
        margin-left: 39px;
        margin-right: 39px;
        margin-top: 60px;
        font-size: 26px; } }
    @media (min-width: 1280px) {
      .sections__2__title {
        margin-left: 275px;
        margin-right: 275px;
        margin-top: 90px; } }
  .sections__2__paragraph {
    position: absolute;
    color: #4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.67;
    margin-top: 136px; }
    @media (min-width: 768px) {
      .sections__2__paragraph {
        margin-left: 39px;
        margin-right: 39px;
        margin-top: 135px;
        font-size: 20px; } }
    @media (min-width: 1280px) {
      .sections__2__paragraph {
        margin-left: 275px;
        margin-right: 275px;
        margin-top: 165px; } }
  .sections__2__button {
    position: absolute;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 286px; }
    .sections__2__button:hover {
      background-color: #f26002; }
    @media (min-width: 768px) {
      .sections__2__button {
        margin-left: 39px;
        margin-top: 225px; } }
    @media (min-width: 1280px) {
      .sections__2__button {
        margin-left: 275px;
        margin-top: 255px; } }
  .sections__2__button__go {
    color: #f26002;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 15px; }
    .sections__2__button__go:hover {
      color: #ffffff; }

.sections__3 {
  height: 624px;
  background-color: #eff9ff; }
  @media (min-width: 768px) {
    .sections__3 {
      height: 397px; } }
  @media (min-width: 1280px) {
    .sections__3 {
      height: 427px; } }
  .sections__3__div__title {
    font-family: "Roboto Slab";
    color: #000000;
    font-size: 24px; }
    @media (min-width: 768px) {
      .sections__3__div__title {
        font-family: "Roboto Slab";
        color: #000000;
        font-size: 26px; } }
    @media (min-width: 1280px) {
      .sections__3__div__title {
        font-family: "Roboto Slab";
        color: #000000;
        font-size: 32px; } }
  .sections__3__article1, .sections__3__article2, .sections__3__article3 {
    font-family: "Roboto Slab";
    color: #000000;
    font-size: 18px; }
    @media (min-width: 768px) {
      .sections__3__article1, .sections__3__article2, .sections__3__article3 {
        font-family: "Roboto Slab";
        color: #000000;
        font-size: 24px; } }
  .sections__3__paragraph1, .sections__3__paragraph2, .sections__3__paragraph3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 1.67;
    text-align: center; }
    @media (min-width: 768px) {
      .sections__3__paragraph1, .sections__3__paragraph2, .sections__3__paragraph3 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: #000000;
        font-size: 20px;
        line-height: 1.67;
        text-align: center;
        line-height: 1.67; } }
  .sections__3__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #f26002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 0; }
    @media (min-width: 768px) {
      .sections__3__button {
        grid-row: 3/4;
        grid-column: 2/3;
        margin-bottom: 60px;
        width: 210px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .sections__3__button {
      width: 255px; } }
    .sections__3__button:hover {
      background-color: whitesmoke;
      border: #f26002 solid 2px;
      transition: color ease 0.8s;
      transform: scale(1.25); }
  .sections__3__button__more {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px; }
    .sections__3__button__more:hover {
      color: #f26002; }

.sections__3__div {
  display: grid;
  text-align: center;
  align-items: center;
  margin: auto;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  height: 624px;
  width: 184px;
  background-color: #eff9ff; }
  @media (min-width: 768px) {
    .sections__3__div {
      height: 397px;
      width: 768px;
      -moz-column-gap: 27.7px;
      column-gap: 27.7px;
      padding-left: 35.7px;
      padding-right: 40px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr); }
      .sections__3__div__1 {
        grid-row: 2/3;
        grid-column: 1/2; }
      .sections__3__div__2 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .sections__3__div__3 {
        grid-row: 2/3;
        grid-column: 3/4; }
      .sections__3__div__title {
        grid-row: 1/2;
        grid-column: 1/4; } }
  @media (min-width: 768px) and (min-width: 1280px) {
    .sections__3__div {
      height: 427px;
      width: 1280px;
      -moz-column-gap: 81px;
      column-gap: 81px;
      padding-left: 81.2px;
      padding-right: 81.2px; } }

.footer {
  width: 100vw;
  height: 465px;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      height: 240px; } }
  .footer__nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-45px); }
    @media (min-width: 768px) {
      .footer__nav {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: flex-start; } }
  .footer__arrow {
    padding: 22.5px;
    background-color: #ffffff;
    border-radius: 22.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image: url("../images/ico-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%); }
  .footer__nav__1 {
    margin-top: 60px; }
    @media (min-width: 768px) {
      .footer__nav__1 {
        margin-top: 45px;
        transform: translateX(-60px);
        order: 1; } }
  .footer__nav__2 {
    margin-top: 30px; }
    @media (min-width: 768px) {
      .footer__nav__2 {
        margin-top: 45px;
        transform: translateX(140px);
        order: 1; } }
  .footer__articles, .footer__books, .footer__events, .footer__reasons, .footer__tips {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase; }
  .footer .twitter,
  .footer .instagram,
  .footer .mastodon {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase; }
  .footer__copy {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .footer__copy__text, .footer__copy__year {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      color: #ffffff;
      font-size: 14px;
      line-height: 2.14; }
    @media (min-width: 768px) {
      .footer__copy {
        text-align: left;
        transform: translateX(-180px); } }
  .footer__copy__heart {
    color: #f26002; }

/*# sourceMappingURL=main.css.map */
