@mixin footerfont($font-size) {
  font-family: $fontrobotonormal;
  color: $colorwhite;
  font-size: $font-size;
  line-height: 1.88;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  width: 100vw;
  height: 465px;
  background-color: #304268;

  &__nav {
    display: flex;
    flex-direction: column;
  }
  //media query solo cambiar a row

  &__nav__1 {
    order: 1;
    margin-top: 60px;
  }
  &__nav__2 {
    order: 2;
    margin-top: 30px;
  }

  &__articles,
  &__books,
  &__events,
  &__reasons,
  &__tips {
    @include footerfont(16px);
  }

  .twitter,
  .instagram,
  .mastodon {
    @include footerfont(16px);
  }

  &__copy {
    margin-bottom: 45px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__text,
    &__year {
      font-family: $fontrobotonormal;
      color: $colorwhite;
      font-size: 14px;
      line-height: 2.14;
    }
  }
  &__copy__heart {
    color: $colororange;
  }
}
