@mixin titlereasonsfont($font-size) {
  font-family: $FontRobotoSlab;
  color: #000000;
  font-size: $font-size;
  padding-top: 45px;
}
@mixin paragraphreasonsfont($font-size) {
  font-family: $fontrobotonormal;
  color: #000000;
  font-size: $font-size;
  line-height: 1.67;
  text-align: center;
}

.sections__3 {
  display: grid;
  text-align: center;
  //   grid-template-rows: repeat(4, 1fr);
  //   grid-template-columns: 1fr;
  height: 624px;
  width: 100vw;
  background-color: #eff9ff;

  &__title {
    @include titlereasonsfont(24px);
    padding-top: 30px;
  }

  &__article1 {
    // grid-row-start: 1;
    // grid-row-end: 2;
    @include titlereasonsfont(18px);
  }
  &__paragraph1 {
    // grid-row-start: 2;
    // grid-row-end: 3;
    @include paragraphreasonsfont(18px);
  }
  &__article2 {
    // grid-row: 2/3;
    // grid-column: 1/2;
    @include titlereasonsfont(18px);
  }
  &__paragraph2 {
    // grid-row: 3/4;
    // grid-column: 1/2;
    @include paragraphreasonsfont(18px);
  }

  &__article3 {
    // grid-row: 4/5;
    // grid-column: 1/2;
    @include titlereasonsfont(18px);
  }
  &__paragraph3 {
    // grid-row: 5/6;
    // grid-column: 1/2;
    @include paragraphreasonsfont(18px);
  }
  &__button {
    // grid-row: 6/7;
    // grid-column: 1/2;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $colororange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 60px;
  }
  &__button__more {
    color: $colorwhite;
    font-family: $fontrobotonormal;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    padding: 20px;
    //Para el efecto cursos
  }
}
