// body {
//   // padding: 2rem;
//   // height: 100vh;
//   // background-image: url('../images/bg-adalab.png');
//   // background-color: $color-bg;
//   // font-family: $font-main;

// }
//section 2

.sections__2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  width: 100vw;
  height: 376px;
  background-color: $colorwhite;

  &__link {
    color: $colorlightblue;
    text-transform: capitalize;
    font-family: $fontrobotonormal;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 30px;
  }
  &__title {
    font-family: $FontRobotoSlab;
    font-size: 24px;
    text-transform: capitalize;
    color: $fontrobotonormal;
    margin-left: 15px;
  }

  &__paragraph {
    color: #4a4a4a;
    font-family: $fontrobotonormal;
    font-size: 18px;
    margin-left: 15px;
  }
  &__buttom {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $colororange;
    margin-left: 15px;
  }
  &__buttom__go {
    color: $colororange;
    text-transform: uppercase;
    font-family: $fontrobotonormal;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
