.sections__2 {
  align-items: right;
  width: 690px;
  height: 376px;
  background-color: $colorwhite;
  margin: 0 15px 0 15px;
  @media (min-width: 768px) {
    height: 330px;
  }
  @media (min-width: 1280px) {
    height: 360px;
  }

  &__link {
    margin-top: 30px;
    position: absolute;
    color: $colorlightblue;
    text-transform: capitalize;
    font-family: $fontrobotonormal;
    font-size: 14px;
    @media (min-width: 768px) {
      margin-left: 39px;
      margin-right: 39px;
      // --------------
    }
    @media (min-width: 1280px) {
      margin-left: 275px;
      margin-right: 275px;
      // --------------
    }
  }
  &__title {
    position: absolute;
    font-family: $FontRobotoSlab;
    font-size: 24px;
    text-transform: capitalize;
    color: $fontrobotonormal;
    margin-top: 61px;
    @media (min-width: 768px) {
      margin-left: 39px;
      margin-right: 39px;
      // --------------
      margin-top: 60px;
      font-size: 26px;
    }
    @media (min-width: 1280px) {
      margin-left: 275px;
      margin-right: 275px;
      // --------------
      margin-top: 90px;
    }
  }

  &__paragraph {
    position: absolute;
    color: #4a4a4a;
    font-family: $fontrobotonormal;
    font-size: 18px;
    line-height: 1.67;
    margin-top: 136px;
    @media (min-width: 768px) {
      margin-left: 39px;
      margin-right: 39px;
      // --------------
      margin-top: 135px;
      font-size: 20px;
    }
    @media (min-width: 1280px) {
      margin-left: 275px;
      margin-right: 275px;
      // --------------
      margin-top: 165px;
    }
  }

  &__button {
    position: absolute;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $colororange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 286px;
    &:hover {
      background-color: $colororange;
    }
    @media (min-width: 768px) {
      margin-left: 39px;
      // --------------
      margin-top: 225px;
    }
    @media (min-width: 1280px) {
      margin-left: 275px;
      // --------------
      margin-top: 255px;
    }
  }
  &__button__go {
    color: $colororange;
    text-transform: capitalize;
    font-family: $fontrobotonormal;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    &:hover {
      color: $colorwhite;
    }
  }
}
